registry "https://registry.npmmirror.com/"
sass_binary_site "https://registry.npmmirror.com/node-sass"
phantomjs_cdnurl "https://registry.npmmirror.com/downloads/phantomjs"
electron_mirror "https://registry.npmmirror.com/-/binary/electron/"
sqlite3_binary_host_mirror "https://registry.npmmirror.com/sqlite3"
profiler_binary_host_mirror "https://registry.npmmirror.com/node-inspector/"
