.page_wrapper {
	.page_container {
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}

	.page_content {
		width: 1080px;
		flex-shrink: 0;
		background-color: #000;
		border-radius: 8px;
		color: #fff;
		position: relative;
		padding: 60px 0;
	}
}

